<!DOCTYPE html>

<html>
    xmlns="http://www.w3.org/1999/xhtml"      
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    <head th:fragment="head" >
        <title>TCS Software</title>
        <meta charset="UTF-8" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> 
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_TECHNICAL')">
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/ticket/listado}">[[#{plantilla.gestionTickets}]]</a></li>
                    </ul>
                    <ul class="navbar-nav" sec:authorize="hasAnyRole('ROLE_USER')">
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/creacionTicket/tickets}">[[#{plantilla.tickets}]]</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Lang</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item"  th:href="@{/(lang=es)}">ES</a></li>
                                <li><a class="dropdown-item" th:href="@{/(lang=en)}">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}" class="btn"><button type="button" class="btn btn-success">Login</button></a>
                    </ul> 
                    <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                        <li class="nav-item text-white my-auto">
                            <i class="fa fa-user"></i> <span sec:authentication="name">Username</span>&nbsp;
                        </li>
                        <li class="nav-item my-auto">
                            <form method="POST" th:action="@{/logout}">
                                <button class="btn btn-danger">LogOut</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div >
        <div>
            <h4>[[#{plantilla.mensaje1}]]</h4>
        </div>
    </div>
    <div th:fragment="tablaCriterios" style="width: 80%; margin-left: 10% " class="d-flex justify-content-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">[[#{tabla.titulo1}]]</th>
                    <th scope="col">[[#{tabla.titulo2}]]</th>
                    <th scope="col">[[#{tabla.titulo3}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">[[#{tabla.opcion1}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: red" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion2}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: red" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion3}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion4}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion5}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion6}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion7}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion8}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: red" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion9}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: red" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row">[[#{tabla.opcion10}]]</th>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: darkgreen" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" style="color: red" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                        </svg></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div th:fragment="motivosUtilizarTCS" style="width: 80%; margin-left: 15% " class="d-flex justify-content-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">[[#{titulo.sistema}]]</th>
                    <th scope="col">[[#{titulo.clientes}]]</th>
                    <th scope="col">[[#{titulo.escalabilidad}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
                <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <img src="https://us.123rf.com/450wm/blankstock/blankstock1901/blankstock190102641/125931591-icono-de-entrega-r%C3%A1pida-signo-de-tiempo-elemento-de-dise%C3%B1o-de-calidad-icono-de-estilo-cl%C3%A1sico.jpg?ver=6" style="width: 130px" alt=""></img>
                        <p>[[#{principal.sistema1}]]</p>
                        <p>[[#{principa1.sistema2}]]</p>
                        <p>[[#{principa1.sistema3}]]</p>
                        <p>[[#{principa1.sistema4}]]</p>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <img src="https://st2.depositphotos.com/5266903/11817/v/600/depositphotos_118171126-stock-illustration-staff-flat-vector-icon.jpg" style="width: 100px" alt=""></img>
                        <p>[[#{principal.clientes1}]]</p>
                        <p>[[#{principal.clientes2}]]</p>
                        <p>[[#{principal.clientes3}]]</p>
                        <p>[[#{principal.clientes4}]]</p>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <img src="https://static.vecteezy.com/system/resources/previews/008/060/728/non_2x/website-statistics-linear-icon-with-scalability-vector.jpg" style="width: 100px" alt=""></img>
                        <p>[[#{principal.escabilidad1}]]</p>
                        <p>[[#{principal.escabilidad2}]]</p>
                        <p>[[#{principal.escabilidad3}]]</p>
                        <p>[[#{principal.escabilidad4}]]</p>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                        </svg></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<br>
<br>
<div th:fragment="terminosCondiciones" class="modal fade" id="terminosCondiciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Terminos y Condiciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Al utilizar el software proporcionado por TCS Sofware, aceptas cumplir con los siguientes términos y condiciones:
                <br>
                Licencia de Uso:
                <br>
                a. TCS Sofware te otorga una licencia limitada, no exclusiva y no transferible para utilizar el software de Call Center de acuerdo con estos términos y condiciones.
                <br>
                b. La licencia se limita al uso interno de tu organización y no permite la sublicencia, venta, alquiler o distribución del software.
                <br>
                Derechos de Propiedad:
                <br>
                a. El software y todos los derechos de propiedad intelectual asociados son propiedad exclusiva de TCS Sofware o de sus licenciantes.
                <br>
                b. No se te concede ningún derecho de propiedad sobre el software, excepto los derechos limitados de uso establecidos en estos términos y condiciones.
                <br>
                Restricciones de Uso:
                <br>
                a. No debes copiar, modificar, adaptar, traducir, realizar ingeniería inversa, descompilar, desensamblar ni intentar descubrir el código fuente del software.
                <br>
                b. No debes utilizar el software para fines ilegales, difamatorios, obscenos, fraudulentos o que infrinjan los derechos de terceros.
                <br>
                c. No debes interferir con la seguridad o el funcionamiento del software ni intentar eludir las medidas de protección implementadas por TCS Sofware.

                <br>
                Actualizaciones y Mantenimiento:
                <br>
                a. TCS Sofware se reserva el derecho de proporcionar actualizaciones, mejoras o modificaciones del software en cualquier momento.
                <br>
                b. TCS Sofware no garantiza que el software estará libre de errores o que funcionará de manera ininterrumpida.
                <br>
                Limitación de Responsabilidad:
                <br>
                a. El software se proporciona "tal cual" y TCS Sofware no se hace responsable de cualquier daño directo, indirecto, incidental, especial o consecuente que surja del uso o la incapacidad de uso del software.
                <br>
                b. TCS Sofware no garantiza la precisión, integridad o confiabilidad de los resultados obtenidos mediante el uso del software.
                <br>
                Privacidad y Protección de Datos:
                <br>
                a. TCS Sofware se compromete a proteger tu privacidad y a cumplir con todas las leyes y regulaciones aplicables en relación con la protección de datos personales.
                <br>
                b. TCS Sofware recopilará y tratará los datos personales de acuerdo con su política de privacidad.
                <br>
                Estos términos y condiciones constituyen un acuerdo legalmente vinculante entre tú y TCS Sofware en relación con el uso del software. Al utilizar el software, aceptas cumplir con estos términos y condiciones en su totalidad. Te pedimos que los leas detenidamente antes de utilizar el software de Call Center.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div th:fragment="notificacionDePrivacidad" class="modal fade" id="notificacionDePrivacidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="notificacionDePrivacidad">Notificacion de Privacidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Política de Notificación de Privacidad de TCS Software - Aplicación de Call Center

                Fecha de entrada en vigor: 20 Agosto de 2015

                En TCS Software, valoramos y respetamos tu privacidad. Esta Política de Notificación de Privacidad tiene como objetivo informarte sobre cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas a través de nuestra aplicación de call center.

                1. Información que Recopilamos:

                Datos de Registro: Cuando te registras en nuestra aplicación, recopilamos información como tu nombre, dirección de correo electrónico, número de teléfono y otros detalles necesarios para crear y administrar tu cuenta.

                Información de la Interacción: Durante el uso de la aplicación, podemos recopilar información sobre las interacciones con la plataforma, incluidas las llamadas, mensajes y otras actividades relacionadas con el call center.

                2. Uso de la Información:

                Utilizamos la información recopilada para:

                Proporcionar Servicios: Utilizamos tus datos para brindarte acceso a la aplicación y sus funciones, permitiéndote gestionar tus operaciones de call center de manera efectiva.

                Comunicación: Podemos utilizar tu dirección de correo electrónico y número de teléfono para enviarte actualizaciones, notificaciones y comunicaciones relacionadas con la aplicación y sus servicios.

                Mejora de Servicios: Analizamos los datos de uso de manera agregada y anónima para mejorar la calidad de nuestros servicios y desarrollar nuevas funcionalidades.

                3. Compartir Información:

                Terceros de Confianza: En algunas circunstancias, podemos compartir tu información con proveedores de servicios de confianza que nos ayudan en la operación y mejora de la aplicación.

                Cumplimiento Legal: Podemos divulgar información cuando sea necesario para cumplir con requisitos legales, regulaciones o procesos legales.

                4. Seguridad de Datos:

                Implementamos medidas de seguridad técnicas y organizativas para proteger tus datos contra acceso no autorizado, pérdida o alteración.

                5. Tus Derechos:

                Acceso y Modificación: Tienes derecho a acceder y corregir la información personal que mantenemos. Puedes realizar cambios en tu perfil dentro de la aplicación.

                Retiro de Consentimiento: Puedes retirar tu consentimiento para el procesamiento de tus datos en cualquier momento, lo que puede afectar la funcionalidad de la aplicación.

                6. Cambios a esta Política:

                Esta Política de Notificación de Privacidad puede actualizarse ocasionalmente para reflejar cambios en nuestras prácticas. Te recomendamos revisarla periódicamente.

                Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos a través de servicioCliente@tcssoftware.com.

                Al utilizar nuestra aplicación, aceptas esta Política de Notificación de Privacidad.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="politicaEliminacion" class="modal fade" id="politicaEliminacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="politicaEliminacion">Politica de Eliminacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Política de Eliminación de Datos

                Fecha de entrada en vigor: 20 Agosto de 2015

                En TCS Software, entendemos la importancia de proteger tus datos personales y respetar tus derechos de privacidad. Esta política de eliminación de datos establece cómo manejamos la eliminación de la información que recopilamos a través de nuestra aplicación de Call Center.

                1. Retención de Datos

                Mantenemos tus datos personales solo durante el tiempo necesario para cumplir con los propósitos para los que fueron recopilados. Cuando ya no necesitamos tus datos para estos fines y no estamos legalmente obligados a mantenerlos, procederemos a eliminarlos de manera segura.

                2. Solicitudes de Eliminación

                Si deseas que eliminemos tus datos personales de nuestros registros, puedes contactarnos a través de servicioCliente@tcssoftware.com. Procesaremos tu solicitud de eliminación en un plazo razonable, siempre que no haya obligaciones legales o regulatorias que nos impidan hacerlo.

                3. Eliminación Automática

                Algunos tipos de datos, como registros de actividad, pueden ser eliminados automáticamente después de un período determinado para mantener la eficiencia de nuestros sistemas y la privacidad de los usuarios.

                4. Copias de Respaldo

                Es posible que tus datos se encuentren en copias de respaldo durante un tiempo después de haber sido eliminados de nuestras bases de datos activas. Sin embargo, estas copias de respaldo se gestionan de manera segura y solo se utilizan para la restauración del sistema en caso de fallos.

                5. Protección durante la Eliminación

                Durante el proceso de eliminación, implementamos medidas de seguridad para evitar el acceso no autorizado a tus datos y para garantizar su eliminación segura y permanente.

                6. Cambios a esta Política

                Podemos actualizar esta política de eliminación de datos ocasionalmente. Te recomendamos revisarla periódicamente para estar al tanto de cualquier cambio.

                Si tienes alguna pregunta sobre nuestra política de eliminación de datos, no dudes en contactarnos.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="politicaSeguridad" class="modal fade" id="politicaSeguridad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="politicaSeguridad">Politica de Seguridad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                En TCS Software, estamos comprometidos con la protección de los datos sensibles y la seguridad de la información relacionada con la creación de tickets de call center a través de nuestro software. Esta política establece los lineamientos y las medidas de seguridad que se deben seguir para garantizar la confidencialidad, integridad y disponibilidad de los datos de nuestros clientes y usuarios.

                1. Acceso y Autenticación:

                1.1. El acceso al software de creación de tickets de call center estará restringido a usuarios autorizados y se basará en un sistema de autenticación sólido, como contraseñas seguras, autenticación de dos factores u otras medidas de seguridad avanzadas.

                1.2. Los usuarios deberán mantener sus credenciales de acceso confidenciales y no compartirlas con terceros. El personal de TCS Software nunca solicitará contraseñas ni información de acceso por medios no seguros.

                2. Protección de Datos:

                2.1. Los datos de los clientes y usuarios almacenados en el sistema de creación de tickets serán tratados de acuerdo con las regulaciones de protección de datos aplicables. Los datos se recopilarán, procesarán y almacenarán únicamente con el consentimiento del titular de los datos.

                2.2. Implementaremos medidas técnicas y organizativas para proteger los datos contra el acceso no autorizado, la pérdida, la divulgación y la alteración.

                3. Comunicación Segura:

                3.1. La comunicación entre el software de creación de tickets y los usuarios se cifrará mediante protocolos seguros, como HTTPS, para proteger la información transmitida.

                3.2. Las comunicaciones relacionadas con problemas técnicos, actualizaciones y notificaciones se enviarán solo a las direcciones de correo electrónico autorizadas y verificadas.

                4. Actualizaciones y Parches:

                4.1. Mantendremos el software de creación de tickets actualizado con las últimas correcciones de seguridad y parches de software para mitigar posibles vulnerabilidades.

                5. Copias de Seguridad:

                5.1. Realizaremos copias de seguridad periódicas de los datos almacenados en el sistema de creación de tickets para garantizar su disponibilidad en caso de fallas del sistema, errores humanos o ataques cibernéticos.

                6. Monitoreo y Detección de Intrusiones:

                6.1. Implementaremos sistemas de monitoreo para detectar actividades inusuales o sospechosas en el software. Cualquier actividad sospechosa será investigada y abordada de manera apropiada.

                7. Formación y Concienciación:

                7.1. Todos los usuarios y el personal de TCS Software recibirán capacitación sobre las mejores prácticas de seguridad, incluyendo la identificación de amenazas cibernéticas y la prevención de ataques de ingeniería social.

                8. Gestión de Incidentes:

                8.1. Estableceremos un plan de respuesta a incidentes para abordar de manera eficaz cualquier violación de seguridad o incidente cibernético que pueda afectar la confidencialidad, integridad o disponibilidad de los datos.

                Esta política de seguridad refleja nuestro compromiso con la protección de datos y la seguridad de la información en la creación de tickets de call center a través de nuestro software. La dirección y el equipo de seguridad de TCS Software supervisarán y actualizarán regularmente esta política para asegurarse de que se mantenga efectiva y cumpla con las cambiantes amenazas de seguridad cibernética.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer th:fragment="footer" class="bg-info text-white mt-5 p-2">
    <div class="container">
        <div class="navbar navbar-expand-sm navbar-toggler bg-info p-0">

            <ul class="navbar-nav">
                <li class="nav-item px-2"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#terminosCondiciones" th:href="@{terminosCondiciones}">[[#{plantilla.terminos}]]</a></li>
                <li class="nav-item px-2"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#notificacionDePrivacidad" th:href="@{notificacionDePrivacidad}">[[#{plantilla.privacidad}]]</a></li>
                <li class="nav-item px-2"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#politicaEliminacion" th:href="@{politicaEliminacion}">[[#{plantilla.politica}]]</a></li>
                <li class="nav-item px-2"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#politicaSeguridad" th:href="@{politicaSeguridad}">[[#{plantilla.seguridad}]]</a></li>
                <li class="nav-item px-2"><a class="nav-link" th:href="@{/preguntas/preguntas}">[[#{plantilla.preguntas}]]</a></li>

            </ul>
            &COPY [[#{plantilla.derechos}]]

        </div>
    </div>
</footer>


</body>
</html>
