<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:fragment="head" >
        <title>TCS Software</title>
        <meta charset="UTF-8" />
                <link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> 
        <script src="/static/js/rutinas.js" type="text/javascript"></script>
        <link th:href="@{/static/js/estilos.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <section th:fragment="crearTicket" style="margin: 0;
                 padding: 0;
                 box-sizing: border-box;
                 font-family: 'Open Sans', sans-serif;">
            <div class="container-form" style="width: 100%;
                 max-width: 1100px;
                 margin: auto;
                 display: grid;
                 grid-template-columns: repeat(2,1fr);
                 grid-gap:50px;
                 margin-top: 90px;">
                <div class="info-form">
                    <h2 style="margin-bottom: 15px;
                        line-height: 1.6;
                        margin-bottom: 30px;">Contactos</h2>
                    <p>Cualquier inconveniente con nuestro sistema
                        no dude en hacernoslo saber, queremos estar ahi
                        para cuando lo necesite.Nuestro personal esta
                        altamente capacitado para ayudarte a resolver
                        cualquier problema que se te presente.
                    </p>
                    <a href="#" style="font-size: 17px;
                       display: inline-block;
                       text-decoration: none;
                       width: 100%;
                       margin-bottom: 15px;
                       color: black;
                       font-weight: 700;"><i class="fa fa-phone" style="color: orange;
                         margin-right: 10px;"></i>8456-5821 / 7469-8512</a>
                    <a href="#" style="font-size: 17px;
                       display: inline-block;
                       text-decoration: none;
                       width: 100%;
                       margin-bottom: 15px;
                       color: black;
                       font-weight: 700;"><i class="fa fa-envelope" style="color: orange;
                         margin-right: 10px;"></i>servicioalcliente@tcsoftware.com</a>
                    <a href="#" style="font-size: 17px;
                       display: inline-block;
                       text-decoration: none;
                       width: 100%;
                       margin-bottom: 15px;
                       color: black;
                       font-weight: 700;"><i class="fa fa-map-marked" style="color: orange;
                         margin-right: 10px;"></i>Ciudad , Pais</a>                    
                </div>
                <form action="/creaTicket/crear" method="POST" autocomplete="off">
                    <input type="text" name="usuario" placeholder="Ingresa tu usuario" class="campo" style="width: 100%;
                           padding: 15px 10px;
                           font-size: 15px;
                           border: 1px solid #dbdbdb;
                           margin-bottom: 20px;
                           border-radius: 3px;
                           outline: 0px;">
                    <input type="text" name="nombreTicket" placeholder="Titulo del Ticket" class="campo" style="width: 100%;
                           padding: 15px 10px;
                           font-size: 15px;
                           border: 1px solid #dbdbdb;
                           margin-bottom: 20px;
                           border-radius: 3px;
                           outline: 0px;">
                    <textarea name="textoProblema" placeholder="Explica el problema.." class="campo" style="max-width: 530px;
                              min-width: 530px;
                              min-height: 140px;
                              max-height: 150px;" ></textarea>
                    <button type="submit"class="btn btn-success">Enviar</button>
                </form>
                <button type="button" class="btn btn-primary" style="width: 100px"><a href="javascript:history.go(-1)" style="color: white">Regresar</a></button>
            </div>
        </section>
    </body>
</html>
